.Rproj.user
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# Quarto and website specific files
_site/
/.quarto/
*_cache/
*.bak
*_error.scss
*.backup
*.ipynb
/_site/
/_freeze/
/_book/
/*_files/




